/* Custom scrollbar styles */
.scrollbarHidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
  width: 0; /* For Firefox */
  height: 0; /* For Firefox */
}

.scrollbarHidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
